body {
    background-color: #ffe4e1;
}

#container {
    border-style: groove;
    height: 550px;
    width: 550px;
    background-color: white;
    display: grid;
    margin: auto;
}

#buttondiv {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#reset {
    height: 30px;
    width: 200px;
    background-color: #135553;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    display: flex;
    align-items: stretch;
    width: 100%;
}